.tek-ds-header {
  background: #fff;
  z-index: 99;
  padding: 28px 0;
  top: 0;
  position: fixed;
  width: 100%;

  .hamburger-icon {
    background: #15161f;
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 13px 9px;
    cursor: pointer;
    gap: 4px;
    display: none;

    @media (max-width: 1199px) {
      display: flex;
    }
    span {
      &:nth-child(1) {
        width: 22px;
        height: 2px;
        background: #fff;
        padding: 1px 0;
        display: block;
        transition: all ease 0.4s;
      }
      &:nth-child(2) {
        width: 22px;
        height: 2px;
        background: #fff;
        padding: 1px 0;
        display: block;
        transition: all ease 0.4s;
      }
      &:nth-child(3) {
        width: 15px;
        height: 2px;
        background: #fff;
        padding: 1px 0;
        display: block;
        transition: all ease 0.4s;
      }
    }

    &.active {
      span {
        &:nth-child(1) {
          transform: rotate(45deg) translate(4px, 4px);
          transition: all ease 0.4s;
        }
        &:nth-child(2) {
          transform: rotate(-45deg);
          transition: all ease 0.4s;
        }
        &:nth-child(3) {
          width: 0;
          transition: all ease 0.4s;
        }
      }
    }
  }

  &.visible {
    // display: block;
    top: 0;
    transition: top 0.4s ease-out;
  }

  &.hidden {
    // display: none;
    top: -110px;
    transition: top 0.4s ease-out;
  }

  &__logo {
    width: 140px;

    @media (min-width: 768px) {
      width: 200px;
    }
  }

  &__logo-wrap {
    width: 40%;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__menu {
    display: flex;
    list-style: none;
    gap: 48px;
    margin-bottom: 0 !important;
    padding-left: 0;

    @media (max-width: 1199px) {
      flex-direction: column;
      padding-left: 0;
      gap: 24px;
    }

    li {
      a,
      p {
        font-weight: 350;
        font-size: 16px;
        line-height: 150%;
        color: #0e131f;
        font-family: 'indivisible' !important;
        cursor: pointer;
      }
    }
  }

  .nav-menu {
    &__close {
      top: 36px;
      right: 40px;
      position: absolute;
      display: none;

      @media (max-width: 1199px) {
        display: block;
        font-size: 24px;
      }
    }
  }

  .mobile-sidebar-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 40px 48px 40px;

    @media (min-width: 768px) {
      padding: 40px 90px 40px;
    }

    @media (min-width: 1024px) {
      padding: 40px 115px 40px;
    }

    @media (min-width: 1200px) {
      padding: 0;
    }

    @media (max-width: 1199px) {
      position: fixed;
      flex-direction: column;
      align-items: flex-start;
      background: #fafafa;
      transform: translateX(100%);
      top: 96px;
      right: 0;
      bottom: 0;
      transition: transform ease 0.5s;
      overflow: scroll;
      justify-content: flex-start;
    }

    &.active {
      transform: translateX(0%);
    }

    .tek-ds-header__logo {
      display: none;
      @media (max-width: 1199px) {
        display: block;
        position: absolute;
        left: 40px;
        top: 40px;
      }
    }

    button {
      cursor: pointer;

      @media (max-width: 1199px) {
        margin-top: 120px;
      }
    }
  }

  .more-trigger {
    &:hover {
      .more-menu {
        opacity: 1;
        visibility: visible;
        transition: all ease 0.5s;
      }
    }
  }

  .more-menu {
    position: absolute;
    background: #fff;
    padding: 18px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 170px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    top: 35px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    transition: all ease 0.8s;
  }
}
